<h1>Email: <%= current_user.email %></h1>
<form class="" action="<%= session_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="logout" value="Logout">
</form>
